<div class="user_entry">
<br>
<br>
    <h1 id="category-title">Update Task</h1>

        <%= render 'form', task: @task%>

    <div class="back-container">
        <%= link_to 'Back', category_tasks_path,  class:"back-button" %>
    </div>
</div>